.view-container {
    width: 100%;
    height: 100%;
  }

.snapshoot-img {
  width: 100%;
  height: 20%;
  object-fit: contain;
  display: block;
  border: #777 dashed 0.5px;
  cursor: pointer;
}

#snapshoot-container {
  overflow: auto;
  background-color: #2A2A2A;
}