@import '~antd/dist/antd.css';

.App {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80% 20%;
  grid-template-areas: "view-main view-main"
                       "view-name4  view-name5";
  height: 100%;
  background: #ddd;
  padding: 5px;
}

.view-main {
  grid-area: view-main;
  display: grid;
  grid-template-columns: 40% 10%;
  grid-template-rows: 10% 90%;
  grid-template-areas: "view-timeline view-timeline"
                       "view-map view-snapshoot";
}

.view-map {
  grid-area: view-map;
}

.view-timeline {
  grid-area: view-timeline;
}

.view-snapshoot {
  grid-area: view-snapshoot;
}

.view-name4 {
  grid-area: view-name4;
}

.view-name5 {
  grid-area: view-name5;
}

.view {
  background-color: #FCFCFC;
}


.App .ant-card {
  margin: 2px;
}

.App .ant-card-head {
  min-height: 24px;
  padding: 0 6px;
}

.App .ant-card-head .ant-card-head-wrapper .ant-card-head-title {
  padding: 4px 0;
}

.App .ant-card-head .ant-card-head-wrapper .ant-card-extra {
  padding: 4px 0;
}

.App .ant-card-body {
  height: calc(100% - 35px);
  padding: 4px;
}

.App .view-main .ant-card-body {
  height: 100%;
  padding: 4px;
}
